{% block doc %}
<!DOCTYPE html>
<html lang="en" {% block html_attribs %}{% endblock html_attribs %}>
  {% block html %}
  <head>
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock metas %}
    {% load staticfiles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Bootstrap theme -->
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet"/>
    
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">

    {% block styles %}
    <!-- block à appeler pour mettre votre CSS pour des pages spécifiques-->
    {% endblock styles %}
    {% endblock head %}
  </head>
  <body role="document">
    {% block body %}
    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <img class="navbar-brand" src="{% static 'appli/logo/EasyPython.png' %}"/>
          <a class="navbar-brand" href="{% url 'appli.views.accueil' %}">Easy Python</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    {% block page_exo %}
	    <li class="dropdown">
	      {% endblock page_exo %}
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Exercices<span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
	      <li><a href="{% url 'appli.views.rechercher_exercice' %}">Tous les exercices</a></li>
	      <li><a href="{% url 'appli.views.rechercher_parcours' %}">Les exercices par parcours</a></li>
			</ul>
	    </li><!--dropdown-->
	    {% if user.is_staff or user.is_superuser %}
	    {% block creer_exo %}
	    <li class="dropdown">
	      {% endblock creer_exo %}
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
			  Création<span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
	        <li><a href="{% url 'appli.views.creer_exercice' %}"> Ajouter un exercice</a>
	        <li><a href="{% url 'appli.views.creer_parcours' %}"> Créer un parcours</a>
          </ul>
	    {% endif %}
	    {% block page_aide %}
            <li>
	      {% endblock page_aide %}
	      <a href="{% url 'appli.views.aide' %}">Aide</a>
	    </li>
	    {% if user.is_staff or user.is_superuser %}
	    {% block creer_aide %}
	    <li>
	      {% endblock creer_aide %}
	      <a href="{% url 'creation_aide' %}">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Ajouter Aide</a>
	    </li>
	    {% endif %}
	    {% block page_contact %}
            <li>
	      {% endblock page_contact %}
	      <a href="{% url 'appli.views.contact' %}">Contact</a>
	    </li>
          </ul>
	  <ul class="nav navbar-nav navbar-right">
	    {% if user.is_authenticated %}
	    <li>
	      <a href="{% url 'appli.views.deconnexion' %}">
		<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
	      </a>
	    </li>
	    {% block page_profil %}
            <li class="dropdown">
	      {% endblock page_profil %}
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{user.first_name}} {{ user.last_name }}<span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
		{% if user.is_staff or user.is_superuser %}
		<li><a href="{% url 'appli.views.profilProf' %}">Profil</a></li>
		{% else %}
		<li><a href="{% url 'appli.views.profil'%}">Profil</a></li>
		{% endif %}
		<li><a href="http://ent.univ-orleans.fr/render.userLayoutRootNode.uP;jsessionid=B927794A4FC27ADEC632778D134BA01E">ENT</a></li>
	    </ul>
            </li><!--dropdown-->
	    {% else %}
	    <li><a href="{% url 'appli.views.connexion' %}">Se Connecter</a></li>
	    {% endif %}
	    </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock navbar %}




    <div class="container theme-showcase" role ="main">
              <div class="jumbotron">
      {% block content %}
      {% endblock content %}
                  </div>
    </div>



    {% block scripts %}
    {% endblock scripts %}
    {% endblock body %}
  </body>
  {% endblock html %}
</html>
{% endblock doc %}
