{% extends "base.html" %}
{% block page_contact %}
	<li class="active">
{% endblock page_contact %}
{% block content %}
<br>
<br>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Connexion				
		</h3>
	</div>
	<div class="panel-body" align="center">		
		{% if error %}
			<p><strong>Nom d'utilisateur ou Mot de passe incorrect</strong></p>
		{% endif %}
		{% if user.is_authenticated %}
			Vous êtes connecté sous le pseudo {{ user.username }}
		{% else %}
			<form action="{% url 'appli.views.connexion' %}" type="form" method="POST">
				{% csrf_token %}
				<div class="form-group" align="right">
					<div class="col-sm-7">
						<input type="text" class="form-control" name="username" id="username" placeholder="Nom d'utilisateur">
					</div>
					<div class="col-sm-5">
					</div>
				</div>
				<div class="form-group" align="right">
					<div class="col-sm-7">
						<input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe">
					</div>
					<div class="col-sm-5">
					</div>
				</div>  
				<div class="form-group" align="center">
					<div class="col-sm-7">
						<p><button type="submit" class="btn btn-primary" >Se connecter</button> </p>
					</div>
					<div class="col-sm-8">
					</div>
				</div>
				<br>
				<br> 
			</form>
		{% endif %}
		Un problème? <a href="{% url 'appli.views.contact' %}">Contactez-nous!</a>
		<br>
		{% if user.is_authenticated %}
			<a href="{% url 'appli.views.deconnexion' %}">Se déconnecter</a>
		{% endif %}
	</div>
</div>
{% endblock %}




