{% extends "base.html" %}
{% block page_contact %}
<li class="active">
{% endblock page_contact %}
{% block content %}
<br>
<br>


<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			Formulaire de contact				
		</h3>
	</div>

	<div class="panel-body" align="center">
		<form action="{% url 'appli.views.contact' %}">
			<h4>Administrateur actuel :   David Brossas</h4>
			<hr style="color: #0040FF; height:2px; background-color: #5882FA; width:150px;" /> 
			<br>
			<h4>Veuillez indiquer votre email :</h4>
			<INPUT type="email" value="votre_email@etu.univ-orleans.fr" name="email"></input>

			<h4>Veuillez indiquer votre réclamation :</h4>
			<textarea rows="5"></textarea>

			</br>
			<button type="submit" class="btn" onClick="indication();">Envoyer l'e-mail</button>
		</form>
	</div>
</div>
  
{% if obt %}
	<script>
		alert("Vous venez d'obtenir le badge 'help'")
	</script>
{% endif %}
<script type="text/javascript">
	function indication(){
		alert("Le service n'est pas encore disponible.\n  Merci d'utiliser le service de l'ENT");
	}
</script>
{% endblock %}
