{% extends "base.html" %}
{% block content %}
	<br>
	<br>
	<br>
	<br>
	{% load staticfiles %}
	{% block styles %}
		<script src="{% static 'appli/codemirror/python.js' %}"></script>
		<script src="{% static 'appli/codemirror/matchbrackets.js' %}"></script>
		<style type="text/css">.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
		<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">
		<link rel=stylesheet href="{% static 'appli/codemirror/codemirror.css' %}">
		<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">
		<script src="{% static 'appli/codemirror/codemirror.js' %}"></script>
		<script src="{% static 'appli/codemirror/python.js' %}"></script>
		<link rel="stylesheet" href="{% static 'appli/codemirror/codemirror.css' %}">
	{% endblock styles %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Zone d'Ajout
				<!-- Reflechier sur l'utilité de ce bouton -->
				<!--
				<a href="{% url 'appli.views.profil' %}"><button type="button" class="btn btn-primary btn-sm">Valider</button></a>
				-->
				<!-- Fin bouton -->
			</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form" name="reponse" action="{% url 'appli.views.creer_exercice'  %}" method="POST">
				{% csrf_token %}
				<hr align=left style="color: #0040FF; height:2px; background-color: #5882FA;" /> 
				<h1><b>Caractéristiques</b></h1>
				<hr align=left style="color: #0040FF; height:3px; background-color: #5882FA;" /> 
				<br>
				<!--
				<div class="col-xs-2 ">
				-->				<b>Nom de l'exercice:</b>
				<input type="textarea" class="form-control" name="nom_exercice" required></input><br>
				<br>
				<table width=100%>
					<tr>
						<td>
						<b>Vous pouvez sélectionner des tags en appuyant sur Ctrl</b>
						<br>
						<br>
						<div class="col-xs-5" >
							<select multiple class=" form-control">
								{% for elem in tags %}
									<option>{{ elem.nom }}</option>
								{% endfor %}
							</select>					
						</div>
						<br><br>
						</td>
						<td valign=top><div class="form-group">
							<b>Vous pouvez définir de nouveaux tags en les séparant avec un /</b><br>
							<div class="col-xs-4">
								<input type="text" class="form-control" name="nouveaux_tags">
							</div>
						</td>
					</tr>
				</table>
				<br><br>
				<b>Enonce:</b>
				<input type="textarea" class="form-control" name="enonce" required><br>
				<hr align=left style="color: #0040FF; height:2px; background-color: #5882FA;" /> 
				<h1><b>Codes</b></h1>
				<hr align=left style="color: #0040FF; height:3px; background-color: #5882FA;" /> 
				<br>
				{{ form.codes }}
				<br>
				<input align="right" type="submit" value="Valider"/>
			</form>
		</div>
	</div>
	<br>
	<br>
{% endblock %}
{% block scripts %}
	<script>
		var editor = CodeMirror.fromTextArea(document.getElementById("id_codes"), {
		mode: {name: "python",
		version: 3,
		singleLineStringErrors: false},
		lineNumbers: true,
		indentUnit: 4,
		matchBrackets: true
		});
	</script>
	{% if not good %}
		<script>
			alert("Le nom de l'exercice est déjà utilisé !")
		</script>
	{% endif %}
	{% if erreurCode %}
		<script>
			alert("Vous avez oubliez de mettre des entrées !")
		</script>
	{% endif %}
	{% if erreurDef %}
		<script>
			alert("Vous avez oubliez de définir la fonction !")
		</script>
	{% endif %}
{% endblock scripts %}
