{% extends "appli/base.html" %}

{% load staticfiles %}

{% block scripts %}
{{ block.super }}
 <script src="{% static 'appli/react/aide.js' %} "  type="text/jsx"></script>
 <script type="text/jsx">
 var AjoutAide=ReactBootstrap.AjoutAide;
 React.render(

  <AjoutAide/>,
  document.getElementById('content')
 );
</script>
{% endblock scripts %}
