{% extends "base.html" %}
{% block content %}
	<br>
	<br>
	<br>
	<br>
	{% load staticfiles %}
	{% block styles %}
		<script src="{% static 'appli/codemirror/python.js' %}"></script>
		<script src="{% static 'appli/codemirror/matchbrackets.js' %}"></script>
		<script src="{% static 'appli/jquery/jquery-2.1.3.js' %}"></script>
		<style type="text/css">.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
		<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">
		<link rel=stylesheet href="{% static 'appli/codemirror/codemirror.css' %}">
		<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">
		<script src="{% static 'appli/codemirror/codemirror.js' %}"></script>
		<script src="{% static 'appli/codemirror/python.js' %}"></script>
		<link rel="stylesheet" href="{% static 'appli/codemirror/codemirror.css' %}">
	{% endblock styles %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				Zone d'Ajout
				<!-- Reflechier sur l'utilité de ce bouton -->
				<!--
				<a href="{% url 'appli.views.profil' %}"><button type="button" class="btn btn-primary btn-sm">Valider</button></a>
				-->
				<!-- Fin bouton -->
			</h3>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" role="form" name="reponse" action="{% url 'appli.views.creer_parcours'  %}" method="POST">
				{% csrf_token %}
				<hr align=left style="color: #0040FF; height:2px; background-color: #5882FA;" /> 
				<h1><b>Caractéristiques</b></h1>
				<hr align=left style="color: #0040FF; height:3px; background-color: #5882FA;" /> 
				<br>
				<!--
				<div class="col-xs-2 ">
				-->				<b>Nom du parcours:</b>
				<input type="textarea" class="form-control" name="nom_exercice" required></input><br>
				<br>
				<div id="select">
				<b>Exercices sélectionnés:</b>
				</div>
				<br><br>
				{% for elem in rep %}
					<div class="well">
					<h4> {{ elem.titre }} </h4>
					{% for t in elem.tags %}
						<span class="label label-info ">{{ t.nom }}</span>
					{% endfor %}
					<p>
						{{ elem.enonce }}
					</p>
					<button type="button" class="btn btn-primary btn-sm" onClick="ajout('{{ elem.titre }}')">Ajouter</button></a>
					</div>
					
				{% endfor %}
				<hr align=left style="color: #0040FF; height:2px; background-color: #5882FA;" /> 
				<input align="right" type="submit" value="Valider"/>
			</form>
		</div>
	</div>
	<br>
	<br>
{% endblock %}
{% block scripts %}
	<script>
		var array=[]
		function ajout(val){
			$("#select").append("<br>"+val);
			array.push(val);
		}
	</script>
{% endblock scripts %}
