{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
	<script src="{% static 'appli/codemirror/python.js' %}"></script>
	<script src="{% static 'appli/codemirror/matchbrackets.js' %}"></script>
	<style type="text/css">.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
	<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">
	<link rel=stylesheet href="{% static 'appli/codemirror/codemirror.css' %}">
	<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">
	<script src="{% static 'appli/codemirror/codemirror.js' %}"></script>
	<script src="{% static 'appli/codemirror/python.js' %}"></script>
	<link rel="stylesheet" href="{% static 'appli/codemirror/codemirror.css' %}">
{% endblock styles %}
{% block page_exo %}
	<li class="active">
{% endblock page_exo %}
{% block content %}
	<div class="jumbotron">
		<center>
			<h1>
				{{ titre }}
			</h1>
		</center>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Enoncé
				</h3>
			</div>
			<div class="panel-body">
				{% for e in enonce %}
					{% if cle == e %}
						<a href="{% url 'appli.views.aide' %}" data-toggle="tooltip" data-placement="top" title="{{ definition }}">{{ cle }}</a>
					{% else %}
						{{ e }}
					{% endif %}
				{% endfor %}.
				</div>
			</div>
				{% if mauvais_res or invalide %}
					<div class="alert alert-danger" role="alert">
						{% if mauvais_res %}
							{{ error_clear }}
						{% endif %}
						{% if invalide %}
							{{ invalide.erreur }}
						{% endif %}
					</div>
				{% endif %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Zone de programmation
							<!-- Reflechier sur l'utilité de ce bouton -->
							<a href="{% url 'appli.views.profil' %}"><button type="button" class="btn btn-primary btn-sm">Profil</button></a>
							<!-- Fin bouton -->
						</h3>
					</div>
					<div class="panel-body">
						<form name="reponse" action="{% url 'appli.views.testerExercice' exo.id %}" method="POST">
							{% csrf_token %}
							{{form}}
							<input type="submit" value="Valider"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		var editor = CodeMirror.fromTextArea(document.getElementById("id_message"), {
		mode: {name: "python",
		version: 3,
		singleLineStringErrors: false},
		lineNumbers: true,
		indentUnit: 4,
		matchBrackets: true
		});
	</script>
	<script>
		{% if reussit %}
			alert("{{ reussit }}");
		{% endif %}
	</script>
{% endblock scripts %}
